<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>
        Intro al HTML
    </h1>

    <ul>
        <li><a href="~/Home/ConceptosBasicos1">Conceptos Básicos 1</a></li>
        <li><a href="~/Home/ConceptosBasicos2">Conceptos Básicos 2</a></li>
        <li><a href="~/Home/ConceptosBasicos3">Conceptos Básicos 3</a></li>
        <li><a href="~/Home/ConceptosBasicos4">Conceptos Básicos 4</a></li>
        <li><a href="~/Home/Enlaces">Enlaces</a></li>
        <li><a href="~/Home/Listas">Listas</a></li>
        <li><a href="~/Home/Tablas1">Tablas 1</a></li>
        <li><a href="~/Home/Tablas2">Tablas 2</a></li>
        <li><a href="~/Home/Formularios1">Formularios 1</a></li>
        <li><a href="~/Home/Formularios2">Formularios 2</a></li>
        <li><a href="~/Home/FormularioHTML5">Formularios HTML5</a></li>
    </ul>
</body>
</html>