<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h1 {
            background-color:cornflowerblue; 
            color:white; text-align:center;}
        ol {
             padding-left:4em;}
        li {
            font-size: 20px;
            padding-bottom: 1em;}
    </style>
</head>
<body>
    <h1>
        Ejercicios de CSS
    </h1>

    <ol type="1">
        <li><a href="~/Home/Cómoseusa1">Ejercicio Cómo se usa 1</a></li>
        <li><a href="~/Home/Cómoseusa2">Ejercicio Cómo se usa 2</a></li>
        <li><a href="~/Home/Cómoseusa3">Ejercicio Cómo se usa 3</a></li>
        <li><a href="~/Home/Selectores1">Ejercicio Selectores 1</a></li>
        <li><a href="~/Home/Selectores2">Ejercicio Selectores 2</a></li>
        <li><a href="~/Home/Selectores3">Ejercicio Selectores 3</a></li>
        <li><a href="~/Home/DiseñoFijo">Ejercicio Maquetación diseño fijo</a></li>
    </ol>
</body>
</html>
