@{
    ViewBag.Title = "Principal";
}

<div>
    <h1>Página Principal</h1>

    <h2>Menú de Operaciones</h2>

    <ul>
        <li>
            <a href="/Clientes/Index">Gestión de Clientes</a>
        </li>
    </ul>
</div>

